// .col-container {
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-start;
// }

.col-container {
  display:block;
  overflow-x:auto;
  white-space:nowrap;
  flex-wrap: nowrap !important;
}
