.col-drop-zone {
    color: gray;
    font-weight: bold;
    text-align: center;
    font-size: 90%;
    padding: .5rem;
    margin: .5rem;
    background-color: #00000010;
    user-select: none;
    border-radius: 0.25rem;
}